
:root {
  --color-bg-light: #ffffff;
  --color-fg-light: #282828;
  --color-link-light: #8f9191;
  --color-link-visited-light: #668f8b;
  --color-link-hover-light: #fa7921;

  --color-bg-dark:#2B2A31;
  --color-fg-dark: #eadbb2;
  --color-link-dark: #8f9191;
  --color-link-visited-dark: #668f8b;
  --color-link-hover-dark: #fa7921;
}

@font-face {
    font-family: 'Iosevka Nerd Font Mono';
    src: url('./IosevkaNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--color-bg-light);
    --color-fg: var(--color-fg-light);
    --color-link: var(--color-link-light);
    --color-link-visited: var(--color-link-visited-light);
    --color-link-hover: var(--color-link-hover-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-bg-dark);
    --color-fg: var(--color-fg-dark);
    --color-link: var(--color-link-dark);
    --color-link-visited: var(--color-link-visited-dark);
    --color-link-hover: var(--color-link-hover-dark);
  }
}

html,
body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: 'Iosevka Nerd Font Mono', monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Center items horizontally */
  min-height: 100vh;
}

.left-container {
  aspect-ratio: 1/1;
}

.right-container {
  font-size 30px;
}

.gif img {
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  padding-top: 40px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 20px;
}

li {
  font-size: 20px;
  list-style-type: none;
  padding: 5px;
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
